@{
    ViewBag.Title = "About";


}

    <!DOCTYPE html>
    <html>
    <body>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>



    <style>
        body {
            background-color: lightgrey;
        }
    </style>

    <div class="container">
        <!-- Content here -->
        <!-- Sponsoren regel -->
        <section class="features-4">
            <div class="features4-block py-5">
                <div class="container py-lg-4">
                    <div class="title-content text-center mb-lg-5 mt-4">
                        <h3 class="hny-title">Our Team</h3>
                        <p class="fea-para">Thanks to these people you can track the boat on this website!</p>
                    </div>
                    <div class="row features4-grids text-left mt-lg-4">
                        <div class="col-lg-3 col-md-6 features4-grid mt-4">
                            <div class="features4-grid-inn">
                                <div class="img-featured">
                                    <div class="ch-item ch-img-1">

                                    </div>
                                </div>

                                <div class="features4-rightinfo">
                                    <h5><a href="https://www.mcdonalds.com/nl/nl-nl.html">Patrick</a></h5>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 features4-grid mt-4">
                            <div class="features4-grid-inn">
                                <div class="img-featured">
                                    <div class="ch-item ch-img-2">

                                    </div>
                                </div>
                                <div class="features4-rightinfo">
                                    <h5>
                                        <a href="https://www.tesla.com/nl_nl">
                                            Yannick
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 features4-grid mt-4">
                            <div class="features4-grid-inn">
                                <div class="img-featured">
                                    <div class="ch-item ch-img-3">

                                    </div>
                                </div>
                                <div class="features4-rightinfo">
                                    <h5>
                                        <a href="https://www.microsoft.com/en-us/legal/intellectualproperty/trademarks">
                                            Silvijn
                                        </a>
                                    </h5>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 features4-grid mt-4">
                            <div class="features4-grid-inn">
                                <div class="img-featured">
                                    <div class="ch-item ch-img-4">

                                    </div>
                                </div>
                                <div class="features4-rightinfo">
                                    <h5>
                                        <a href="https://www.apple.com/benl/">
                                            Devin
                                        </a>
                                    </h5>

                                </div>
                            </div>
                        </div>







                    </div>
                </div>
            </div>
    </div>
    </section>


    </div>


    <div class="container">
        <!-- Content heree -->
        <div class="col-lg-3 col-md-6 features4-grid mt-4">
            <div class="features4-grid-inn">
                <div class="img-featured">
                    <div class="ch-item ch-img-4">

                    </div>
                </div>
                <div class="features4-rightinfo">
                    <h5>
                        <a href="https://www.apple.com/benl/">
                            Yavuz
                        </a>
                    </h5>

                </div>
            </div>
        </div>
    </div>



    <h1>The figure and figcaption element</h1>

    <figure>
        <img src="~/images/pic_trulli.jpg" alt="Trulli" style="width:30%">
        <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
    </figure>

</body>
</html>