@{
    ViewBag.Title = "About";


}

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />
    <title>About page</title>
</head>
<body>
    <div class="carousel" data-ride="carousel">
        <div class="carousel-inner aboutCarousel">
            <div class="carousel-item active">
                <img src="~/images/Heijplaat.jpg" alt="Picture of Heijplaat">
                <div class="carousel-caption d-none">
                    <h1>About us</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Lorem Ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus interdum odio et ultricies.
            Nulla non volutpat nibh. Aenean sed nulla dictum, auctor lacus ac, interdum mi. Fusce eget fringilla sem,
            eu gravida diam. Sed augue nibh, lobortis vel tristique vel, consectetur at lacus. Quisque faucibus ligula
            ultricies ante laoreet congue. Donec ut mauris in mauris tempus vestibulum. Nullam eu tellus vitae mauris
            finibus convallis. Quisque condimentum sodales pharetra. Nam lobortis elit ullamcorper, commodo purus quis,
            sodales odio. Duis tempus metus non turpis elementum congue. Donec viverra quam augue, et molestie dolor
            elementum eget.

        </p>
    </div>
    <div class="container">
        <h2>Lorem Ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus interdum odio et ultricies.
            Nulla non volutpat nibh. Aenean sed nulla dictum, auctor lacus ac, interdum mi. Fusce eget fringilla sem,
            eu gravida diam. Sed augue nibh, lobortis vel tristique vel, consectetur at lacus. Quisque faucibus ligula
            ultricies ante laoreet congue. Donec ut mauris in mauris tempus vestibulum. Nullam eu tellus vitae mauris
            finibus convallis. Quisque condimentum sodales pharetra. Nam lobortis elit ullamcorper, commodo purus quis,
            sodales odio. Duis tempus metus non turpis elementum congue. Donec viverra quam augue, et molestie dolor
            elementum eget.

        </p>
    </div>
</body>
</html>