@model IEnumerable<RAAST_web.Models.Blogpost>
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/defaultNavLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/style-blogs.css">
    @section head{
        <style type="text/css">
            body {
                background-image: url('/images/back5.png');
                background-repeat: no-repeat;
                background-size: cover;
            }

        </style>
    }
</head>
<body>
    <br />
    <br />
    <br />
    <br />

    <!-- Mini blogpost links -->
    <div class="container pt-lg-3">
        <div class="header-section text-center mb-md-5 mb-4">
            <h3>Latest Blogs</h3>
        </div>
        <div class="row">
            @foreach (var blog in Model)
            {

                <div class="col-lg-4 mt-lg-0 mt-4 ez-fix">
                    <a href="/Home/Blogpost/@blog.Id" class="blog-article-post height-full bg-color-three d-flex flex-wrap align-content-between">
                        <div class="post-content">
                            <h6 class="sub-title">@blog.cu_date</h6>
                            <h4 class="blog_post_title">
                                @blog.title
                            </h4>
                            <ul class="author-date my-4 d-flex align-items-center">
                                <li>by <b>@blog.AspNetUsers.UserName</b></li>
                            </ul>
                            <p>
                                Click on the article to read more about this story
                            </p>
                        </div>
                        <div class="read-button mt-5">Read story <span class="fa fa-long-arrow-right" aria-hidden="true"></span></div>
                    </a>
                </div>
            }
        </div>

    </div>

    <!-- JavaScript rules for navigation settings -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>

    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>

</body>

</html>
