@{
    Layout = "~/Views/editorNavLayout.cshtml";
}
@model IEnumerable<RAAST_web.Models.Blogpost>

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <h3>@ViewBag.title</h3>
        <p>@ViewBag.content</p>
    </body>
</html>
