@model IEnumerable<RAAST_web.Models.Blogpost>
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/defaultNavLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/style-blogs.css">
    <!--niet verwijderen, nog aan het testen-->
    @section head{
        <style type="text/css">
            body {
                background-image: url('/images/back1.png');
                margin: 0;
            }
        </style>
    }
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    @foreach (var blog in Model)
    {
        <div>
            <div class="container py-lg-3">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="resp-tabs-container hor_1">
                            <div class="products-content">
                                <div class="row">
                                    <a href="/Home/Blogpost/@blog.Id" class="col-lg-4 bg-color-three mt-lg-0 mt-0">
                                        <div class="blog-article-post d-flex flex-wrap align-content-between">
                                            <div class="post-content">
                                                <h6 class="sub-title">@blog.cu_date</h6>
                                                <img src="~/images/img10.png" alt=" " class="img-fluid">
                                                <h4 class="blog_post_title my-2">@blog.title</h4>
                                                <ul class="author-date mb-3 d-flex align-items-center">
                                                    <li>by <b>@blog.AspNetUsers.UserName</b></li>
                                                </ul>
                                                <!-- test <p class="limit"> at blog.content</p>-->
                                            </div>
                                            <div class="read-button mt-5">Read story <span class="fa fa-long-arrow-right" aria-hidden="true"></span></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    </body>
</html>
