@{
    Layout = "~/Views/editorNavLayout.cshtml";
}
@model RAAST_web.Models.Blogpost
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>BlogPost</h1>
    <br>

    @for (int i = 0; i < 100; i++)
    {
    <h3>@Html.ActionLink($"Header {i}", "BlogPostContent", "Home", new { id = i },null)</h3>
    }

    <div>

    </div>
</body>
</html>
