@{
    ViewBag.Title = "Credits";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>

        </title>
        <style>
            body{
                background-color:cyan;

            }
            .Header{
                position:relative;
                text-align:center;
                background-color:gray
            }
            .Random1{
                position:relative;
                width: 200px;
                height: 200px;
                background-color:lightpink;
            }
            .Credit{
                position:relative;
                height:400px;
                width:auto;
                background-color:black;
            }
        </style>
    </head>
    <body>
        <div class="Header">
            <h1>
                Credit Page
            </h1>
        </div>
        
        <div class="Credit">
            Dit is container
            x
            x
            x
            x
            x
            x
            x
            x
            x
            x
            x
            x
            x
            x

        </div>
    </body>
</html>