@{
    ViewBag.Title = "Credits";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />
    <title>Credit page</title>
</head>

<body>
    <div class="Header">

        <h1>
            <br>
            Credits
        </h1>
    </div>

    <div class="container">
        <div class="Credit">
            <table class="Credittext">
                <tr><th style="text-align:center">Support</th></tr>
                <tr><td>Devin Chen </td></tr>
                <tr><td>Patrick Sekimonyo</td></tr>
                <tr><td>Yannick de Vreede</td></tr>
                <tr><td>Yavuz Uca</td></tr>
                <tr><td><br></td></tr>
                <tr><th>Github Master</th></tr>
                <tr><td>Yavuz</td></tr>
                <tr><td><br></td></tr>
                <tr><th>Scrum Master</th></tr>
                <tr><td>Yannick de Vreede</td></tr>
                <tr><td>Patrick Sekimonyo</td></tr>
                <tr><td><br></td></tr>
                <tr><th>NoteTakers</th></tr>
                <tr><td>Devin Chen </td></tr>
                <tr><td>Patrick Sekimonyo</td></tr>
                <tr><td>Yannick de Vreede</td></tr>
                <tr><td>Yavuz Uca</td></tr>
                <tr><td><br></td></tr>
                <tr><th>Photoshop Master</th></tr>
                <tr><td>Patrick Sekimonyo</td></tr>
                <tr><td><br></td></tr>
                <tr><th>Chinees</th></tr>
                <tr><td>Devin Chen</td></tr>
                <tr><td><br></td></tr>
                <tr><th>Devolepers</th></tr>
                <tr><td>Devin Chen </td></tr>
                <tr><td>Patrick Sekimonyo</td></tr>
                <tr><td>Yannick de Vreede</td></tr>
                <tr><td>Yavuz Uca</td></tr>
                <tr><td><br></td></tr>
            </table>

        </div>
    </div>
</body>
</html>