@{
    ViewBag.Title = "Credits";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Credits.css" rel="stylesheet" />
    <title>

    </title>
    <style>
        
    </style>
</head>

<body>
    <div class="Header">

        <h1>
            <br>
            Credit Page
        </h1>
    </div>

    <div class="Credit">
        <table class="Credittext">
            <tr>
                <th>
                    Credit Page
                </th>
            </tr>
            <tr>
                <td>
                    made by Devin (testing phase)
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <th>
                    Info Page
                </th>
            </tr>
            <tr>
                <td>
                    made by yanniek enso je weet je zelf
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <th>
                    Thema Naam 1
                </th>
            </tr>
            <tr>
                <td>
                    Random Naam 1
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <th>
                    Thema Naam 2
                </th>
            </tr>
            <tr>
                <td>
                    Random Naam 2
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <th>
                    Thema Naam 3
            </tr>
            <tr>
                <td>
                    Random Naam 3
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <th>
                    Thema Naam 4
                </th>
            <tr>
                <td>
                    Random Naam 4
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    END!!!
                </td>
            </tr>

        </table>

    </div>
</body>
</html>