@{
    ViewBag.Title = "Credits";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Credits.css" rel="stylesheet" />
    <title>

    </title>
    <style>
        
    </style>
</head>
<body>
    <div class="Header">
        <h1>
            Credit Page
        </h1>
    </div>

    <div class="Credit">
        <table class="Credittext">
            <tr>
                <th>
                    Credit Page 
                </th>
            </tr>
            <tr>
                <td>
                    made by Devin de Chinees lah
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <th>
                    Info Page 
                </th>
            </tr>
            <tr>
                <td>
                    made by yanniek enso je weet je zelf 
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    7
                </td>
            </tr>
            <tr>
                <td>
                    8
                </td>
            </tr>
            <tr>
                <td>
                    9
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
            </tr>
            <tr>
                <td>
                    11
                </td>
            </tr>
            <tr>
                <td>
                    12
                </td>
            </tr>
            <tr>
                <td>
                    13
                </td>
            <tr>
                <td>
                    14
                </td>
            </tr>
            <tr>
                <td>
                    14
                </td>
            </tr>

        </table>

    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae mollis nibh, id mattis nisl. Phasellus risus augue, malesuada vel ex nec, sodales accumsan libero. Vivamus nec lacinia purus. Vivamus diam nibh, aliquam eget rutrum ut, euismod quis ligula. Donec vehicula vulputate tellus ac laoreet. Fusce magna odio, cursus in ultricies vitae, gravida et eros. Proin eget porttitor magna. Nam euismod finibus lorem ut accumsan. Nulla sollicitudin arcu in turpis elementum, id sodales purus tempor. Cras at viverra velit. Phasellus purus ipsum, ultricies faucibus cursus vitae, mattis volutpat leo. Cras vel arcu pulvinar, congue nisl et, imperdiet diam.

        Pellentesque fermentum orci et mi mollis finibus. Nam rutrum eros sit amet ligula volutpat tincidunt. Praesent lacinia facilisis efficitur. Mauris varius aliquet massa id pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque pellentesque, dui quis fermentum malesuada, lectus ante euismod tellus, in semper leo tellus vel tellus. Vivamus eu justo sed nibh viverra tincidunt et ut lorem.

        Quisque vitae leo consequat libero imperdiet rhoncus. Morbi imperdiet tortor sit amet suscipit pharetra. Ut eget velit non sapien placerat gravida. Maecenas massa diam, mollis sit amet sagittis ac, ornare sed nibh. Morbi id urna eu tellus pellentesque suscipit. Suspendisse placerat tincidunt ultrices. Morbi commodo fermentum augue non blandit. Duis pretium, velit nec convallis cursus, metus dui venenatis elit, et congue odio nulla egestas justo. Mauris eu lobortis risus, id aliquam augue. Donec ultricies enim nisi, sed scelerisque enim venenatis et. Donec sed ipsum laoreet, volutpat orci at, suscipit mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        Proin eu lorem at orci consequat ullamcorper. Integer sed tortor vitae est cursus malesuada et quis massa. Phasellus id erat ex. Vestibulum sed fringilla quam. Fusce elementum posuere faucibus. Quisque purus quam, finibus nec dolor sed, lacinia tempor sapien. Phasellus ante odio, viverra sed turpis vitae, egestas consequat mauris. Nulla semper orci nec justo dignissim egestas. Quisque eu neque quis nibh tincidunt tincidunt. Phasellus rutrum semper tellus quis sollicitudin. Suspendisse pretium aliquet turpis ac accumsan. Maecenas cursus diam sagittis justo imperdiet, pellentesque fermentum nisi tempus.

        Sed augue urna, iaculis molestie turpis sit amet, elementum euismod metus. Praesent mollis, nisl eget semper placerat, est neque venenatis orci, nec finibus dui turpis ut nisi. Phasellus semper mauris quis ipsum luctus, ac convallis odio hendrerit. Maecenas a tristique ligula, ac fringilla eros. Etiam quis tellus posuere, ullamcorper lorem id, efficitur nisi. In congue, libero vitae ultricies congue, purus enim lacinia quam, a convallis dolor nunc sit amet sapien. Duis accumsan rutrum mattis.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae mollis nibh, id mattis nisl. Phasellus risus augue, malesuada vel ex nec, sodales accumsan libero. Vivamus nec lacinia purus. Vivamus diam nibh, aliquam eget rutrum ut, euismod quis ligula. Donec vehicula vulputate tellus ac laoreet. Fusce magna odio, cursus in ultricies vitae, gravida et eros. Proin eget porttitor magna. Nam euismod finibus lorem ut accumsan. Nulla sollicitudin arcu in turpis elementum, id sodales purus tempor. Cras at viverra velit. Phasellus purus ipsum, ultricies faucibus cursus vitae, mattis volutpat leo. Cras vel arcu pulvinar, congue nisl et, imperdiet diam.

        Pellentesque fermentum orci et mi mollis finibus. Nam rutrum eros sit amet ligula volutpat tincidunt. Praesent lacinia facilisis efficitur. Mauris varius aliquet massa id pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque pellentesque, dui quis fermentum malesuada, lectus ante euismod tellus, in semper leo tellus vel tellus. Vivamus eu justo sed nibh viverra tincidunt et ut lorem.

        Quisque vitae leo consequat libero imperdiet rhoncus. Morbi imperdiet tortor sit amet suscipit pharetra. Ut eget velit non sapien placerat gravida. Maecenas massa diam, mollis sit amet sagittis ac, ornare sed nibh. Morbi id urna eu tellus pellentesque suscipit. Suspendisse placerat tincidunt ultrices. Morbi commodo fermentum augue non blandit. Duis pretium, velit nec convallis cursus, metus dui venenatis elit, et congue odio nulla egestas justo. Mauris eu lobortis risus, id aliquam augue. Donec ultricies enim nisi, sed scelerisque enim venenatis et. Donec sed ipsum laoreet, volutpat orci at, suscipit mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        Proin eu lorem at orci consequat ullamcorper. Integer sed tortor vitae est cursus malesuada et quis massa. Phasellus id erat ex. Vestibulum sed fringilla quam. Fusce elementum posuere faucibus. Quisque purus quam, finibus nec dolor sed, lacinia tempor sapien. Phasellus ante odio, viverra sed turpis vitae, egestas consequat mauris. Nulla semper orci nec justo dignissim egestas. Quisque eu neque quis nibh tincidunt tincidunt. Phasellus rutrum semper tellus quis sollicitudin. Suspendisse pretium aliquet turpis ac accumsan. Maecenas cursus diam sagittis justo imperdiet, pellentesque fermentum nisi tempus.

        Sed augue urna, iaculis molestie turpis sit amet, elementum euismod metus. Praesent mollis, nisl eget semper placerat, est neque venenatis orci, nec finibus dui turpis ut nisi. Phasellus semper mauris quis ipsum luctus, ac convallis odio hendrerit. Maecenas a tristique ligula, ac fringilla eros. Etiam quis tellus posuere, ullamcorper lorem id, efficitur nisi. In congue, libero vitae ultricies congue, purus enim lacinia quam, a convallis dolor nunc sit amet sapien. Duis accumsan rutrum mattis.
    </p>
</body>
</html>