@{
    ViewBag.Title = "Boat information";
}

<!DOCTYPE html>
<!--Page about the boat information-->
<html>
<!--Leaflet link-->
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informatie about the boat.</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
</head>
<body>
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>
        <div id="map" style="height:400px;">

        </div>
    </div>
    <!--Modules container-->
    <div class="container">
        <!--Title-->
        <h2>Information about the modules</h2>
        <!--Speed module-->
        <div class="col-lg-5 moduleStyle">
            <div class="headerDiv">
                <h3 class="centeredWhite ct">Speed</h3>
            </div>

            <p class="centeredWhite">This is the current speed of the boat</p>
        </div>
        <!--Wind force module-->
        <div class="col-lg-offset-2 col-lg-5 moduleStyle">
            <div class="headerDiv">
                <h3 class="centeredWhite ct">Wind force</h3>
            </div>

            <p class="centeredWhite">This is the current wind force</p>
        </div>
        <!--Temperature module-->
        <div class="col-lg-5 moduleStyle">
            <div class="headerDiv">
                <h3 class="centeredWhite ct">Temperature</h3>
            </div>

            <p class="centeredWhite">This is the current temperature</p>
        </div>
        <!--Direction module-->
        <div class="col-lg-offset-2 col-lg-5 moduleStyle">
            <div class="headerDiv">
                <h3 class="centeredWhite ct">Direction</h3>
            </div>

            <p class="centeredWhite">This is the current direction of the boat</p>
        </div>
    </div>
    <script>
        var map = L.map('map').setView([51.91045640625668, 4.450265871598626], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([51.91045640625668, 4.450265871598626]).addTo(map)
            .bindPopup('Home sweet home')
            .openPopup();
    </script>
</body>
</html>
