@{
    ViewBag.Title = "Informatie Boot";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informatie over het bootje</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
</head>
<body>
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>
        <div id="map" style="height:400px;">

        </div>
    </div>
    <div class="container">

        <h2>Informatie over de modules</h2>

        <div class="col-lg-5 moduleStyle">
            <div class="headerDiv">
                <h3 class="centeredWhite ct">Snelheid</h3>
            </div>

            <p class="centeredWhite">Dit is de snelheid van het bootje</p>
        </div>

        <div class="col-lg-offset-2 col-lg-5 moduleStyle">
            <div class="headerDiv">
                <h3 class="centeredWhite ct">Windkracht</h3>
            </div>

            <p class="centeredWhite">Dit is de huidige windkracht</p>
        </div>

        <div class="col-lg-5 moduleStyle">
            <div class="headerDiv">
                <h3 class="centeredWhite ct">Temperatuur</h3>
            </div>

            <p class="centeredWhite">Dit is de huidige temperatuur</p>
        </div>
        <div class="col-lg-offset-2 col-lg-5 moduleStyle">
            <div class="headerDiv">
                <h3 class="centeredWhite ct">Richting</h3>
            </div>

            <p class="centeredWhite">Dit is de huidige richting van het bootje</p>
        </div>
    </div>
    <script>
        var map = L.map('map').setView([51.91045640625668, 4.450265871598626], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([51.91045640625668, 4.450265871598626]).addTo(map)
            .bindPopup('Home sweet home')
            .openPopup();
    </script>
</body>
</html>
