@{
    ViewBag.Title = "Informatie Boot";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d19692.114835021257!2d4.4363613!3d51.90632625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1snl!2snl!4v1633870932158!5m2!1snl!2snl"
                width="1200" height="450" style="border:0;" allowfullscreen="yes" loading="lazy">
        </iframe>
    </div>
    
    <h2>Informatie over de modules</h2>

    <div class="col-lg-5" style="background: #ce0033; border-bottom: 5px solid black; border-radius: 25px ">
        <h3 style="text-align:center; color: #ffffff">Snelheid</h3>
        <p style="text-align: center; color: #ffffff">Dit is de snelheid van het bootje</p>
    </div>
    <div class="col-lg-offset-2 col-lg-5" style="background: #ce0033; border-radius: 25px; margin-bottom: 10px">
        <h3 style="text-align: center; color: #ffffff">Windkracht</h3>
        <p style="text-align: center; color: #ffffff">Dit is de huidige windkracht</p>
    </div>
    <div class="col-lg-5" style="background: #ce0033; border-radius: 25px;">
        <h3 style="text-align: center; color: #ffffff">Temperatuur</h3>
        <p style="text-align: center; color: #ffffff">Dit is de huidige temperatuur</p>
    </div>
    <div class="col-lg-offset-2 col-lg-5" style="background: #ce0033; border-radius: 25px;">
        <h3 style="text-align: center; color: #ffffff">Richting</h3>
        <p style="text-align: center; color: #ffffff">Dit is de huidige richting van het bootje</p>
    </div>
</body>
</html>
