<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>This user has posted blogs. Delete the blogs first before deleting the user.</h2>
    </hgroup>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>

