@keyframes move {
    0% {
        bottom: -300px;
    }

    100% {
        bottom: 400px;
    }
}
body {
    background-color: pink;
}

.Header {
    position: relative;
    text-align: center;
    background-color: gray
}

.Random1 {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: lightpink;
}

.Credit {
    position: relative;
    height: 400px;
    width: auto;
    background-color: black;
    color: white;
    overflow: hidden;
    
}

.Credittext {
    position: absolute;
    bottom: -300px;
    left: 50%;
    display:block;
    animation: move linear 10s infinite;
    text-align:center;
    transform: translate(-50%, 0);
    
}
