@{
    Layout = "~/Views/adminNavLayout.cshtml";
}

<!DOCTYPE html>
<!--Create a form to add an editor, input fields are: username, password and repeat password -->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
    </style>
</head>
<body>
    <h2>
        Add Editor
    </h2>
    <form method="post" action="Verify">
        <div class="form-group">
            <label for="userName">Username</label>
            <input required type="text" class="form-control" id="userName" aria-describedby="emailHelp" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="passWord">Password</label>
            <input required type="password" class="form-control" id="passWord" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="passWordRepeat">Re-enter Password</label>
            <input required type="password" class="form-control" id="passWordRepeat" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>