@model IEnumerable<RAAST_web.Models.Newsletter>
@{
    ViewBag.Title = "ShowClientList";
    Layout = "~/Views/adminNavLayout.cshtml";
}

<h2>E-mail List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
        </tr>
    }

</table>

