@model RAAST_web.Models.MailModel
@{
    if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            Layout = "~/Views/adminNavLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/editorNavLayout.cshtml";
        }

    }
}

<h2>Send a newsletter</h2>
<fieldset>
    <legend>
        Send Email
    </legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()

        <p>Subject: </p>
        <p>@Html.TextBoxFor(m => m.Subject)</p>
        <p>Body: </p>
        <p>@Html.TextAreaFor(m => m.Body)</p>
        <input type="submit" value="Send" />
    }
</fieldset>
