@{
    Layout = "~/Views/editorNavLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        textarea{
            max-width: 400px !important;
        }
    </style>
</head>
<body>
    <h2>
        Add newsletter
    </h2>
    <form method="post" action="Verify">
        <div class="form-group">
            <label for="userName">Username</label>
            <input required type="text" class="form-control" id="userName" aria-describedby="emailHelp" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="passWord">Password</label>
            <input required type="password" class="form-control" id="passWord" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="passWordRepeat">Re-enter Password</label>
            <input required type="password" class="form-control" id="passWordRepeat" placeholder="Password">
        </div>
       
    </form>
    <form action=""
          method="POST"
          enctype="multipart/form-data"
          name="EmailForm">

        Name:<br>
        <input type="text" size="19" name="ContactName" value="" placeholder="Subject">
        <br><br>
        Message:<br>
        <textarea name="ContactCommentt" rows="6" cols="50" max-width="400" value="" placeholder="Message">
        </textarea>
        <div> <button type="submit" class="btn btn-primary">Publish</button></div>
    </form>

</body>
</html>