@{
    Layout = "~/Views/editorNavLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>BlogPost Editor</h1>
    <br>

    @for (int i = 0; i < 100; i++)
    {
        <h3>@Html.ActionLink($"Header {i}", "BlogPostContent", "Editor", new { id = i },null)</h3>
    }
    <div>

    </div>
</body>
</html>
