@{
    Layout = "~/Views/editorNavLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @ViewBag.idFromUrl
    <br />
    @ViewBag.testC
    TESTING LAHHHH HTML 
    <div>
    
    </div>

</body>
</html>
