@{
    Layout = "~/Views/editorNavLayout.cshtml";
    string connectionstring;
    connectionstring = @"Data source=webraast.database.windows.net;Initial Catalog=webraast; User ID=raastweb;Password=6Y45wpX!n";
    connection = new sql
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>BlogPost Editor</h1>
    <br>

    @for (int i = 0; i < 100; i++)
    {
        <h3>@Html.ActionLink($"Header {i}", "BlogPostEditorContent", "Editor", new { id = i },null)</h3>
    }
    
    <div>

    </div>
</body>
</html>
