@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/editorNavLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <h1>
            Success!!!
        </h1>
        <form action="AddEditor">
            <button type="submit" class="btn btn-primary">Go back here</button>
        </form>
    </div>
</body>
</html>

